<div
  *ngFor="let question of questions; index as iQuestion"
  [class.editable]="!showResults"
>
  <p [innerHTML]="question.question"></p>
  <button
    *ngFor="let answer of question.answers; index as iAnswer"
    [innerHTML]="answer"
    [ngClass]="{
      highlight:
        answer === question.selectedAnswer ||
        (showResults && answer === question.correctAnswer),
      incorrect:
        showResults &&
        answer === question.selectedAnswer &&
        answer !== question.correctAnswer
    }"
    (click)="selectAnswer(iQuestion, iAnswer)"
  ></button>
</div>
